.wipp-pluginCreatorSidebar-text-layout{
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--jp-layout-color1);
    border-bottom: 1px solid var(--jp-border-color2);
    box-shadow: var(--jp-toolbar-box-shadow);
    z-index: 2;
}

.wipp-pluginCreatorSidebar-text
{
    background-color: var(--jp-input-active-background);
    border: var(--jp-border-width) solid var(--jp-border-color2);
    flex: 1 1 auto;
    height: 30px;
    padding: 0px 12px;
    margin: 0 4px 0 0;
}

